<!DOCTYPE html>
<html>
<head>
    <title>HAPI: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Welcome to HAPI</h1>
<h2>Din1(<%= din1.length %>)</h2>
<form method="POST">
    Start:<br><input type="text" value="<%= datetime_start%>" name="datetime_start"><br>
    Stop:<br><input type="text" value="<%= datetime_stop%>" name="datetime_stop"><br>
    <input type="submit" value="Submit">
</form>
<table style="width:100%">
    <tr>
        <th>TEAM_ID</th>
        <th>sensID</th>
        <th>val</th>
        <th>date</th>
    </tr>
    <% for(var i=0; i < din1.length; i++) { %>
    <tr>
        <td><%= din1[i].teamID %></td>
        <td><%= din1[i].sensID %></td>
        <td><%= din1[i].val %></td>
        <td><%= din1[i].date %></td>
    </tr>
    <% } %>
</table>
</body>
</html>
