<!DOCTYPE html>
<html>
<head>
    <title>HAPI: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Welcome to HAPI</h1>
<h2><%= title %></h2>
<h2>Temperature</h2>
<table style="width:100%">
    <tr>
        <th>sensID</th>
        <th>val</th>
        <th>date</th>
    </tr>
    <% for(var i=0; i < result.temparature.length; i++) { %>
    <tr>
        <td><%= result.temparature[i].sensID %></td>
        <td><%= result.temparature[i].val %></td>
        <td><%= result.temparature[i].date %></td>
    </tr>
    <% } %>
</table><br><br>
<h2>Accelerometer</h2>
<table style="width:100%">
    <tr>
        <th>sensID</th>
        <th>val_x</th>
        <th>val_y</th>
        <th>val_z</th>
        <th>date</th>
    </tr>
    <% for(var i=0; i < result.accelerometer.length; i++) { %>
    <tr>
        <td><%= result.accelerometer[i].sensID %></td>
        <td><%= result.accelerometer[i].val_x %></td>
        <td><%= result.accelerometer[i].val_y %></td>
        <td><%= result.accelerometer[i].val_z %></td>
        <td><%= result.accelerometer[i].date %></td>
    </tr>
    <% } %>
</table><br><br>
<h2>Din1</h2>
<table style="width:100%">
    <tr>
        <th>sensID</th>
        <th>val</th>
        <th>date</th>
    </tr>
    <% for(var i=0; i < result.din1.length; i++) { %>
    <tr>
        <td><%= result.din1[i].sensID %></td>
        <td><%= result.din1[i].val %></td>
        <td><%= result.din1[i].date %></td>
    </tr>
    <% } %>
</table><br><br>
</body>
</html>
